<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>main</title>
</head>
<body>

	<h1>OHGIRAFFERS' RESTAURANT에 오신 것을 환영합니다.</h1>

	<h3>1. 메뉴 조회</h3>
	<button onclick="location.href='/menu/list'">1) 메뉴 전체 목록 보기</button>
	<br>
	<button onclick="location.href='/menu/7'">2) 7번 메뉴 목록 보기</button>
	<br>
	<button onclick="location.href='/menu/querymethod'">3) QueryMethod 테스트 하기</button>

	<h3>2. 메뉴 추가</h3>
	<button onclick="location.href='/menu/regist'">메뉴 입력하기</button>

	<h3>3. 메뉴 수정</h3>
	<button onclick="location.href='/menu/modify'">메뉴 수정하기</button>

	<h3>4. 메뉴 삭제</h3>
	<button onclick="location.href='/menu/delete'">메뉴 삭제하기</button>
	
</body>
</html>