<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>regist</title>
</head>
<body>

	<h1>신규 메뉴 등록</h1>
	
	<form action="/menu/regist" method="post">
		<label>메뉴 이름 : </label><input type="text" name="menuName"><br>
		<label>메뉴 가격 : </label><input type="number" name="menuPrice"><br>
		<label>카테고리 : </label>
		<select name="categoryCode" id="categoryCode">
			<!-- 
				메뉴 카테고리 값이 고정된 값이 아니라 언제든지 변할 수 있다면 HTML로 하드 코딩하면 안 된다.
				따라서 실제로 DB로부터 조회한 값을 기반으로 <option>을 그려내야 하므로 이는 JS의 fetch() 함수를 이용한다.
			 -->
		</select><br>
		<label>판매 상태 : </label>
		<select name="orderableStatus">
			<option value="Y">판매가능</option>
			<option value="N">판매불가</option>
		</select><br>
		<input type="submit" value="전송">
	</form>

	<script>
		// 해당 페이지가 열리면서(브라우저의 파서가 일을 시작하면서) 바로 실행됨
		fetch('/category/list')	// "/category/list" 경로로 fetch 요청(GET)을 보냄 -> "GET /category/list"
				.then(res => res.json())	// 서버로부터 받은 응답을 JSON 형식으로 반환하는 Promise객체 반환
				.then(jsonData => {
					console.log(jsonData);	// 위에서 변환된 JSON 문자열 출력(확인용)
					const $categoryCode = document.getElementById('categoryCode');	// id가 'categoryCode'인 요소(select)를 선택
					console.log($categoryCode);	// 선택한 요소를 콘솔에 출력(확인용)

					for (let index in jsonData) {	// 배열 형태의 응답 데이터를 반복문을 사용해 각 요소별로 접근
						const $option = document.createElement('option');	// option 요소를 생성
						$option.value = jsonData[index].categoryCode;	// 생성한 option 요소의 value를 data의 categoryCode로 설정
						$option.textContent = jsonData[index].categoryName;	// 생성한 option 요소의 텍스트를 data의 categoryName으로 설정

						$categoryCode.appendChild($option);	// id가 'categoryCode'인 요소(select)의 하위 요소로 생성한 'option'을 추가
					}
				});

		/* Note. 화살표 함수를 사용하지 않았을 때:
		fetch('/category/list')
    		.then(function(res) {
        		return res.json();
    		})
    		.then(function(data) {
        		const $categoryCode = document.getElementById('categoryCode');
        		console.log($categoryCode);

        		for (let index in data) {
            		const $option = document.createElement('option');
            		$option.value = data[index].categoryCode;
            		$option.textContent = data[index].categoryName;

            		$categoryCode.appendChild($option);
        		}
    		});
		 */
	</script>
	<br>
	<button onclick="location.href='/'">메인으로</button>
</body>
</html>